<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cleanhub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleanHub">
        <activity
            android:name="com.example.cleanhub.updateBookingsWorker"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cleanhub.updateBookings"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cleanhub.HomePageWorker"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cleanhub.RegisterForWorkers"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cleanhub.LoginForWorkers"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cleanhub.Booking"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cleanhub.Register"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cleanhub.HomePage"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cleanhub.Login"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.cleanhub.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>